body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #eae8e8;
  height: 100%;
  background-size: cover;
  font-family: "Poppins";
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation h4 {
  color: #464159;
  font-family: "Poppins";
}

.navigation a {
  text-decoration: none;
  margin-top: 2rem;
  border-radius: 20px;
  padding: 0.8rem;
}

@media (min-width: 840px) {
  .navigation a {
    margin: 0;
  }
}

.navigation a h1 {
  margin-top: 2rem;
  font-size: 3rem;
  color: #464159;
}

@media (min-width: 840px) {
  .navigation a h1 {
    margin: 0;
  }
}

.container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 840px) {
  .container {
    margin-top: 3.2rem;
  }
}

.container .sign-up {
  margin: 1rem 0;
  position: absolute;
  text-decoration: none;
  top: 10px;
  right: 25px;
  color: #464159;
  background: #eae8e8;
  -webkit-box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
  margin: 1.5rem 0;
  border-radius: 20px;
  padding: 0.8rem;
}

@media (min-width: 840px) {
  .container .sign-up {
    margin: 2rem 0;
  }
}

.container .sign-up h5 {
  font-size: 1.5rem;
}

@media (min-width: 840px) {
  .container .sign-up h5 {
    font-size: 1.3rem;
  }
}

.container .card {
  background: #eae8e8;
  border: 0;
  width: 80%;
  border-radius: 20px;
  -webkit-box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
}

@media (min-width: 840px) {
  .container .card {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.container .card .card-title {
  color: #6c7b95;
  text-align: center;
}

.container .card .card-title h2 {
  margin-top: 1rem;
  font-size: 3rem;
}

@media (min-width: 840px) {
  .container .card .card-title h2 {
    font-size: 2.5rem;
  }
}

.container .card .card-body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .card .card-body input {
  border-radius: 20px;
  height: 3rem;
  width: 100%;
  overflow: hidden;
  margin: 0.7rem 0;
  border: 1px solid #6c7b95;
  padding: 0.6rem 1.2rem;
  font-size: 2rem;
}

@media (min-width: 840px) {
  .container .card .card-body input {
    font-size: 1.3rem;
    height: 3rem;
    width: 80%;
  }
}

.container .card .card-body #user {
  background: url(../assets/user.svg) no-repeat left center;
  padding-left: 50px;
  background-size: 25px 25px;
  background-position: 12px 14px;
}

@media (min-width: 840px) {
  .container .card .card-body #user {
    padding-left: 55px;
    background-size: 30px 30px;
    background-position: 12px 7px;
  }
}

.container .card .card-body #password {
  background: url(../assets/password.svg) no-repeat left center;
  padding-left: 50px;
  background-size: 25px 25px;
  background-position: 12px 14px;
}

@media (min-width: 840px) {
  .container .card .card-body #password {
    padding-left: 55px;
    background-size: 30px 30px;
    background-position: 12px 7px;
  }
}

.container .card .card-body button {
  display: inline-block;
  border-radius: 20px;
  background: #eae8e8;
  -webkit-box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
  border: 0;
  color: #464159;
  padding: 0.7rem 1rem;
  overflow: hidden;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1rem;
}

@media (min-width: 840px) {
  .container .card .card-body button {
    font-size: 1.8rem;
  }
}

.container .card .card-body button img {
  height: 30px;
  width: 50px;
}

@media (min-width: 840px) {
  .container .card .card-body button img {
    height: 30px;
    width: 50px;
  }
}

.dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
}

@media (min-width: 840px) {
  .dashboard {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.dashboard .taskList-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  background: #eae8e8;
  width: 90%;
  margin: 3rem 0;
  padding: 1.2rem 1rem;
}

@media (min-width: 840px) {
  .dashboard .taskList-container {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    min-width: 170px;
    margin-right: 3rem;
  }
}

.dashboard .taskList-container h3 {
  text-align: center;
  font-size: 2rem;
  color: #464159;
}

@media (min-width: 840px) {
  .dashboard .taskList-container h3 {
    font-size: 2rem;
  }
}

.dashboard .taskList-container .tasks {
  display: -ms-grid;
  display: grid;
  padding: 0.3rem 0.5rem;
}

.dashboard .taskList-container .tasks a {
  text-decoration: none;
  -ms-grid-column-align: start;
      justify-self: start;
  -webkit-box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
  width: 90%;
  border-radius: 20px;
  background: #eae8e8;
  margin: 0.7rem 0.3rem;
  padding: 0.3rem 0.7rem;
  font-size: 1.5rem;
  color: #6c7b95;
}

@media (min-width: 840px) {
  .dashboard .taskList-container .tasks a {
    font-size: 1.5rem;
  }
}

.dashboard .taskList-container .tasks button {
  display: inline-block;
  -ms-grid-column-align: end;
      justify-self: end;
  border-radius: 20px;
  font-size: 2rem;
  -webkit-box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
  border: 0;
  color: #464159;
  padding: 0.6rem 0.8rem;
  overflow: hidden;
  font-size: 3rem;
  cursor: pointer;
  margin-top: 1.4rem;
}

@media (min-width: 840px) {
  .dashboard .taskList-container .tasks button {
    font-size: 1.5rem;
  }
}

.dashboard .taskList-container .tasks button img {
  width: 40px;
  height: 40px;
}

@media (min-width: 840px) {
  .dashboard .taskList-container .tasks button img {
    width: 50px;
    height: 50px;
  }
}

.taskDetail-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "box1 box2" "box3 ." ".    box4";
  -webkit-box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  background: #eae8e8;
  width: 85%;
  margin: 0.7rem 0;
  padding: 1.2rem 1rem;
}

.taskDetail-container input {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box1;
  border-radius: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 3rem;
  width: 80%;
  overflow: hidden;
  margin: 0.9rem 1rem;
  border: 1px solid #6c7b95;
  background: #eae8e8;
  padding: 0.6rem 1.2rem;
  font-size: 1.5rem;
}

@media (min-width: 840px) {
  .taskDetail-container input {
    font-size: 2rem;
    height: 3rem;
  }
}

.taskDetail-container .btn-complete {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: box2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 20px;
  -webkit-box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
  border: 0;
  color: #464159;
  padding: 0.6rem 0.8rem;
  overflow: hidden;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.9rem 0;
}

@media (min-width: 840px) {
  .taskDetail-container .btn-complete {
    font-size: 1.5rem;
  }
}

.taskDetail-container select {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: box3;
  border-radius: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1rem;
  -webkit-box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
  background: #eae8e8;
  border: 0;
  color: #464159;
  padding: 0.6rem 0.8rem;
  overflow: hidden;
  margin: 0.9rem 0;
  width: 80%;
}

@media (min-width: 840px) {
  .taskDetail-container select {
    font-size: 1.5rem;
  }
}

.taskDetail-container select option {
  font-size: 1rem;
}

@media (min-width: 840px) {
  .taskDetail-container select option {
    font-size: 1.5rem;
  }
}

.taskDetail-container a {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: box4;
  -ms-grid-column-align: end;
      justify-self: end;
}

.taskDetail-container a .btn-done {
  border-radius: 20px;
  -webkit-box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
  margin: 0.9rem 0;
  background: #eae8e8;
  border: 0;
  color: #464159;
  padding: 0.6rem 0.8rem;
  overflow: hidden;
}

.taskDetail-container a .btn-done img {
  width: 40px;
  height: 40px;
}

@media (min-width: 840px) {
  .taskDetail-container a .btn-done img {
    width: 50px;
    height: 50px;
  }
}
/*# sourceMappingURL=style.css.map */